<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>379582908253-va50r04e6cduml2v78e17amu5g516pd6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.379582908253-va50r04e6cduml2v78e17amu5g516pd6</string>
	<key>API_KEY</key>
	<string>AIzaSyDT68LPMDl9L13SURu4fBrs7pyvwH2GUm8</string>
	<key>GCM_SENDER_ID</key>
	<string>379582908253</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>au.com.yuwonom.LandmarkRemark</string>
	<key>PROJECT_ID</key>
	<string>landmark-remark-au</string>
	<key>STORAGE_BUCKET</key>
	<string>landmark-remark-au.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:379582908253:ios:70e08512dce75532484ab4</string>
	<key>DATABASE_URL</key>
	<string>https://landmark-remark-au.firebaseio.com</string>
</dict>
</plist>